<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RentalMandu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HajurKoCarRental.styles.css" asp-append-version="true" />
</head>
<style>
    /* Add hover effect to element */
    .my-element:hover {
        transform: scale(1.1);
        transition: transform 0.2s ease-in-out; /* Add smooth transition */
        text-decoration: line-through;
        box-shadow: 5px 0px 10px black /* Add box shadow */
    }

</style>
<body>
    <header style="background-color: #7289DA">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid" style="background-color: #7289DA">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RentalMandu</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark my-element" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>



                        @if (User.IsInRole("admin") || User.IsInRole("staff"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark my-element" asp-area="" asp-controller="ManageRental" asp-action="Index">Manage Rental Request</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark my-element" asp-area="" asp-controller="Car" asp-action="Index">Manage Car</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark my-element" asp-area="" asp-controller="Staff" asp-action="Index">Manage Staff</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark my-element" asp-area="" asp-controller="Role" asp-action="Index">Role</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark my-element" asp-area="" asp-controller="rental" asp-action="allusers">Users History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark my-element" asp-area="" asp-controller="rental" asp-action="allrentals">Sales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark my-element" asp-area="" asp-controller="rental" asp-action="activeusers">Active Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark my-element" asp-area="" asp-controller="rental" asp-action="inactiveusers">Inactive Users</a>
                            </li>
                        }

                        @if (User.IsInRole("admin"))
                        {


                        }

                        <li class="nav-item">
                            <a class="nav-link text-dark my-element" asp-area="" asp-controller="Rental" asp-action="RentalHistory">Rental History</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark my-element" asp-area="" asp-controller="CarDamage" asp-action="Index">Car Damage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark my-element" asp-area="" asp-controller="Offer" asp-action="Index">Offer</a>
                        </li>
                       
                       


                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-secondary">
        <div class="container" style="color: white">
            &copy; 2023 - RentalMandu - <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color: white">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
